* {
    margin: 0;
    padding: 0;
}
body {
    margin: auto;
    width: 474px;
    height: 427px; 
}
a, span {
    float: left;
    text-decoration: none;
    color: #505050;
    font-size: 0.8em;
    font-family: "Arial";;
}
a:hover, span:hover {
    text-decoration: none;   
}
img {
    float: left;   
}
button {
    border: none;
}
.clear {
    clear: both;   
}

/*****  HEADER START *******/

.header {
    height: 44px;
    margin: -1px 0 0 -2px;
    padding: 3px 0 0 4px;
    position: relative;
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
}
.header div {
    float: left;
    height: 40px;
}
.header div:before {
    content: url(../img/navsep.png);
    float: left;
}
.header div:hover {
    margin-right: -14px;
    padding-right: 14px;
    background-image: url(../img/active_menu_1.png);
    background-repeat: no-repeat;
    background-repeat: round;
}
.header a {
    margin-top: 15px;
    margin-left: 5px;
    color: #1b4680;
    font-weight: bold;
    letter-spacing: -0.015em;
}
.header img {
    margin-top: 7px;
    margin-left: 5px;
}


#first-menu-item {
    width: 95px;
    margin-left: 1px;
    margin-right: -13px;
    padding-right: 13px;
}
#first-menu-item:before  {
    content: none;
}
#first-menu-item:hover {
    background-image: url(../img/active_menu.png);
    background-repeat: round;
}
#first-menu-item a {
    margin-left: 2px;
    color: white;
}
#first-menu-item img {
    margin-top: 7px;
    margin-left: 6px;
}

#last-menu-item {
    width: 118px;
}
#last-menu-item:hover{
    background-repeat: no-repeat;
    padding-right: 0;
}

.first-menu-selected {
    background-image: url(../img/active_menu.png);
    background-repeat: round;
}
.selected {
    margin-right: -14px;
    padding-right: 14px;
    background-image: url(../img/active_menu_1.png);
    background-repeat: no-repeat;
    background-repeat: round;
}
.last-menu-selected {
    background-repeat: no-repeat;
    padding-right: 0;
}

/*****  HEADER END *******/



/*****  CONTENT START *******/


.center {
    height: 382px;
    margin-top: -10px;
    padding: 7px 17px 0 17px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
}

.description {
    float: left;
    margin-top: 20px;
    margin-left: 1px;
}

.description span, a {
    margin-left: 2px;
    margin-top: 9px;
    letter-spacing: 0.02em;
}


.view-container {
    float: right;   
    margin-top: 17px;
}
.view-container button {
    float: right;
    width: 35px;
    height: 28px;
    padding-top: 3px;
}
.view-container img {
    float: none;
}
#line-view {
    padding-right: 3px;
    background: url(../img/view_button_bg.png) -32px 0;
    background-repeat: no-repeat;
}
#plate-view-selected {
    padding-left: 3px;
    background: url(../img/active_view.png);
    background-repeat: no-repeat;
}
#plate-view {
    margin-right: -5px;
    background: url(../img/view_button_bg.png);
    background-repeat: no-repeat;
}
#line-view-selected {
    width: 37px;
    background: url(../img/active_view_1.png);
    background-repeat: no-repeat;
}



.picture-container {
    margin-top: 1px;
    float: left;
}
.picture-container form {
    display: inline-block;
    margin-top: 1px;
    float: left;
}

.picture-container button {
    border: none;
    width: 106px;
    height: 26px;
    margin-left: -1px;
    background: url(../img/button.png);
    color: white;
}

.input-area {
    width: 325px;
    float: left;
    margin-top: 3px;
    padding-left: 6px;
}

input, textarea {
    width: 100%;
    height: 28px;
    margin-bottom: 8px;
    border: 1px #8c969f solid;
    border-radius: 5px;    
    font-size: 8pt;
    font-family: "Arial";
    text-indent: 8px;
    overflow: auto;
    resize: none;
}

#description-text {
    height: 83px;
    padding-top: 9px;
    margin-bottom: 0;
}

#instruction-text {
    float: left; 
    height: 89px;    
    width: 435px;    
    padding-top: 8px;
    margin-top: 5px;
    margin-left: 2px;
    text-indent: 10px;
}

.footer-contols {
    width: 100%;
    float: left;
    padding-top: 3px;
}
.footer-contols button {
    height: 26px;
    width: 92px;
    font-size: 9pt;
    color: white;
    letter-spacing: -0.02em;
    padding-top: 2px;
}

#next-menu-button {
    float: right;
    margin-right: 1px;
    padding-right: 4px;
    background: url(../img/button_next.png);
}
#prev-menu-button {
    float: left;
    padding-left: 10px;
    background: url(../img/button_prev.png);
}

/*****  CONTENT END *******/










